$heroku: #6e5baa;
$green: #48854d; 
$red:  #dd5642;
$grey: #666;
$orange: #E88A4E;
.splash {
  margin: auto;

}
.home{
  width:100%;
  height:100%;
  margin:8em auto;
}
.search-c { 
  margin: auto;
}
.home.splash{
    
}

.search {
  width:100%;
  height:41px;
}

.center{
  text-align:center
}
.info{
  padding-top:1em;
  padding-left:1em;
  padding-right:1em;
}

.header-bar{
  height:2em;
}

#header-text{
  text-align:center;
  height:auto;
  margin: auto;
  color: #FFF;
  font-family: 'Raleway', sans-serif; 
  width:98%;
}

span.name{
  padding-top:.5em;
  float:left;
}

span.arrow{
  float:right;
}

div.info-ext{
  border-style:solid;
  border-width:.15em;
}

.details{
  margin-left:1em;
}

.fail{
  background-color: $red;
}

.user-fail{
  background-color: $orange;
}


.success{
  background-color: $green;
}


.fail ~ .extended{
  border-color: $red;
}


.user-fail ~ .extended{
  border-color: $orange;
}
.success ~ .extended{
  border-color: $green;
}



.collapsed{
  display:none;
}

.expanded{
  display:block;
}

a{
  text-decoration: none;
  color: $heroku;
}

.name > a {
  color: #FFF;  
}

#search-bar{
  border-radius: 0px;
}

#main{
  width:100%;
}

#menu{
  border: 0px;
}

#layout{
  padding-top: 50px;
  left:0;
}

#search{
  position:fixed;
  z-index:1000;
  width:100%;
  margin-top:-1px;
  top:0;
}

#search-bar{
  box-shadow:none;
}

h1{ 
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight:300;
  color: $grey;
}

h2{ 
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  font-weight:300;
  color: #CCC;
}

h3{
  margin-top:.5em;
  margin-bottom:.25em;
}

.details p {
  margin-top: .25em;
  margin-bottom: .25em;
}

.details b{
  margin-top:5em;
}
* {
  font-family: 'Raleway', sans-serif; 
}
